<div class="master-navbar d-flex justify-content-center">

    <a href='@Url.Action("Index","Business")'><span class="px-2"><button>Business</button></span></a>

    <a href='@Url.Action("ErrorPage","Home")'><span class="px-2"><button>Country</button></span></a>

    <a href='@Url.Action("ErrorPage","Home")'><span class="px-2"><button>Variant</button></span></a>

    <a href='@Url.Action("ErrorPage","Home")'><span class="px-2"><button>Aggregate</button></span></a>
    <a href='@Url.Action("DataTableForRoles","Role")'><span class="px-2"><button>Role</button></span></a>
    <a href='@Url.Action("AccessDataTable","Access")'><span class="px-2"><button>Access</button></span></a>
    <a href='@Url.Action("DataTableForDepartment","Department")'><span
            class="px-2"><button>Department</button></span></a>
    <a href='@Url.Action("ErrorPage","Home")'><span class="px-2"><button>Module</button></span></a>
    <a href='@Url.Action("ErrorPage","Home")'><span class="px-2"><button>User</button></span></a>
</div>



<link rel="stylesheet" href="~/css/master-navbar.css" asp-append-version="true" />