<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
        <a class="sidebar-brand brand-logo" href="#" style="padding-left: 0px;height: 70px;">
            <img src="../images/daimler_Logo.jpg" alt="" style="width :250px;height: 55px;" />
        </a>
        <a class="sidebar-brand brand-logo-mini" href="index.html">CKD</a>
    </div>
    <ul class="nav" style="position: fixed;">
        <br><br>
        <li class="nav-item menu-items">
            <a class="nav-link" href='@Url.Action("Dashboard","Home")'>
                <span class="menu-icon">
                    <i class="mdi mdi-speedometer nav-icon"></i>
                </span>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href='@Url.Action("Master","Home")'>
                <span class="menu-icon">
                    <i class="mdi mdi-laptop"></i>
                </span>
                <span class="menu-title">Master</span>
                <i class="menu-arrow"></i>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href='@Url.Action("ErrorPage","Home")'>
                <span class="menu-icon">
                    <i class="mdi mdi-playlist-play nav-icon"></i>
                </span>
                <span class="menu-title">Change Management</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href='@Url.Action("ErrorPage","Home")'>
                <span class="menu-icon">
                    <i class="mdi mdi-table-large nav-icon"></i>
                </span>
                <span class="menu-title">Assembly Documents</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href='@Url.Action("ErrorPage","Home")'>
                <span class="menu-icon">
                    <i class="mdi mdi-chart-bar nav-icon"></i>
                </span>
                <span class="menu-title">QFL Documentation</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href='@Url.Action("ErrorPage","Home")'>
                <span class="menu-icon">
                    <i class="mdi mdi-security nav-icon"></i>
                </span>
                <span class="menu-title">LOT Information</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a class="nav-link" href='@Url.Action("ErrorPage","Home")'>
                <span class="menu-icon">
                    <i class="mdi mdi-contacts nav-icon"></i>
                </span>
                <span class="menu-title">Issue Tracker</span>
            </a>
        </li>
    </ul>
</nav>